{% extends "base.html" %}

{% block content %}
<h1>Настройки профиля</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.p_time.label }}<br>
        {{ form.p_time(class="form-control") }}<br>
        {% for error in form.p_time.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.custom_podd.label }}<br>
        {{ form.custom_podd(class="form-check-label") }}<br>
        {% for error in form.custom_podd.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
    <p>
        {{ form.prem_image.label }}<br>
        {{ form.prem_image(class="form-control") }}<br>
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}
